.aside {
    font-size: 16px;
    padding: 30px 30px;
    margin: 250px 20px 20px 10px;
    color: #29627e;
    background-color: #bbdff1;
    border-radius: 20px;
    outline: 2px none black;
    box-shadow: 7px 7px 11px 0px #48597F;
    max-width: 250px;
    float: right;
}