.header {
    color: #6caaf6;
    font-size: 40px;
    padding: 10px;
    text-shadow: 1px 2px 5px #808080;
    margin: 20px auto;
    text-align: center;
}

.header__button {
    margin: 20px 5px;
    color: #bad7fa;
    padding: 15px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #29627e;
    border-radius: 20px;
    box-shadow: 7px 7px 11px 0px #48597F;
}

.header__button:focus {
    outline: 1px solid #252424;
}

.header__button:hover {
    color: #749aad;
}

.header__button:active {
    color: #29627e;
}

