.table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    overflow-x: auto; 
    max-width: 1000px;
    margin: 20px;
}

.table__cell {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.table__cell__header {
    background-color: #080821;
    color: #f5f5f5;
    padding: 10px;
}

.table__header {
    color: #6caaf6;
    padding: 5px;
}

.table__cell:hover {
    background-color: #a8bfcb;
}